  /*Footer*/
  .footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
  .footer-nav {
    display: flex;
    list-style: none;
  
    color: rgba(255, 255, 255, 0.7);
  }
  .footer-nav  a{
      font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin: auto 20px;
  }