html {
  height: 100%;
}

body {
  background-color: #1a191f;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  height: calc(100% - 80px);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1270px;
}

main {
  margin-top: 80px;
  min-height: calc(100% - 80px);
  position: relative;
}
@media screen and (max-width: 1200px) {
  .body {
    overflow-x: hidden;
  }
  main {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
  }
  .container {
    padding: 0 15px;
    position: relative;
    width: calc(100% - 30px);
  }
}
