.movie-img-warpper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.movie-img-elements {
  display: flex;
  justify-content: center;
}
.movie-img-warpper img {
  width: 75%;
}
.movie-details {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.movie-elements-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.movie-title {
  font-size: 60px;
  margin: 15px 0;
}
.movie-information {
  display: flex;
  justify-content: space-between;
}
.movie-vote-avg,
.movie-release-date,
.movie-release-year,
.movie-status,
.movie-languages {
  padding: 10px;
  border: 1px solid #ffd80e;
  border-radius: 12px;
  margin-right: 10px;
}
.movie-overview{
  margin: 10px 0;
  text-align: justify;
  font-size: 20px;
}
