.search-warpper {
  display: flex;
  flex-direction: column;
}

.search-title {
  font-size: 42px;
  font-weight: 300;
  margin: 40px 0;
}

.search-failer {
  font-size: 24px;
  padding: 0 0 20px 0;
}
