/*Section 2 elements*/
.sec2-nav {
  border-bottom: 1px solid #2d2b36;
}
.container-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub-title {
  font-size: 34px;
  margin: 15px 0;
}
.sub-nav {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
}
.active-nav {
  border-bottom: 1px solid #ffd80e;
  color: #ffd80e;
  padding: 10px 0;
}
.not-active-nav {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
}
.contant-warpper{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width:1200px){
  .not-active-nav {
    display: none;
  }
}